<div class="text-center text-light">
    <h2>ORDERS</h2>
</div>
<br><br>
<div class="row">
    <div class="col-sm-6" *ngFor="let order of orders">
        <div class="card" style="background-color:rgb(66, 65, 65); opacity: 0.85 ">
            <div class="card-body text-light">
                <h4 class="card-title">ORDER #{{order.orderNumber}}</h4>
                <label class="card-text">DISH NAME: </label> {{order.dish}}
                <br>
                <label class="card-text ">PRICE: </label> {{order.price}} <br>
                <label class="card-text">QUANTITY: </label> {{order.quantity}}
                <button type="button" class="btn btn-block btn btn-info">Accept</button>
                <button type="button" class="btn btn-block btn btn-danger">Reject</button>
            </div>
        </div> <br>
    </div>
</div>